body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
}
.main {
    display: flex;
    flex-direction: column;

}

.main .calcContainer {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 750px;
    width: 500px;
    justify-content: flex-start;
}

.main .calcContainer .displayContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
}

.main .calcContainer .displayContainer .currentInput {
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60%;
    width: 100%;
}

.main .calcContainer .displayContainer .historicalInput {
    display: flex;
    font-size: 30px;
    height: 30%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;

}

.main .buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
    height: 100%;
    width: 100%;
}

.main .buttonGrid .operand {
    font-size: 1.325rem;
    font-weight: 700;
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0px grey;
    color: #dfdfdf;
    cursor: pointer;
    transition: all .1s ease-in-out;
    margin: 10px;
}

.main .buttonGrid .operand:hover {
    background: limegreen;
	color: white;
	transform: translateY(-0.2rem);
}
.main .buttonGrid .operator {
    border: 1px dotted green;
}
#clear {
    grid-column: span 2;
    border: 1px dotted red
}

#delete {
    grid-column: span 2;
    border: 1px dotted red
}