body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.main {
    display: flex;
    flex-direction: column;

}

.main .calcContainer {
    border-radius: 25px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 500px;
    justify-content: flex-start;
}

.main .calcContainer .displayContainer {
    display: flex;
    flex-direction: column-reverse;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
    color: white;
    padding: 35px;   
}

.main .calcContainer .displayContainer .currentInput {
    display: flex;
    font-size: 50px;
    justify-content: flex-end;
    align-items: flex-end;
    height: 60%;
    width: 100%;
    border: 1px dotted white;
}

.main .calcContainer .displayContainer .historicalInput {
    display: flex;
    font-size: 30px;
    height: 30%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px dotted white;

}

.main .buttonGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: space-evenly;
    align-items: space-evenly;
    height: 100%;
    width: 100%;
}

.main .buttonGrid .operand {
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: transparent;
}


.main .buttonGrid .operator {
    font-size: 20px;
    color: white;
    background-color: transparent;
}
#clear {
    grid-column: span 2;
    font-size: 30px;
    font-weight: 700;
    color: white;
    background-color: transparent;
}

#delete {
    grid-column: span 2;
    font-size: 30px;
    font-weight: 700;
    background-color: transparent;
    color: red;
}